body {
    background-color: #242527;
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 100vh; 
}

.container {
    display: flex;
    justify-content: flex-end;  /*aligned to the right*/
    height: 20px;
    padding: 20px 10px;
    position: absolute;
    top: 10px;
    right: 10px;
}

#Img-button, #Adv-button, #index-page {
    background-color: #303134;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    padding: 4px 10px;
    font-size: 13px; 
    border: none;
    border-radius: 5px;
}

.main-content {
    text-align: center;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    width: 80%;
    max-width: 600px;
}

h1 {
    font-family: Arial, sans-serif;
    font-size: 500%;
    color: rgb(236, 236, 236);
    margin-bottom: 20px;
}

.search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bar {
    padding: 10px;
    width: 400px;
    border-radius:30px;
    border: 1px solid rgb(155, 154, 154);
    background-color: transparent;
    font-size: 15px;
    margin-bottom: 10px;
}

.button-group {
    display: flex;
    height: 10px;
    align-items: center;
    padding: 20px;
}

#search-button, [name="btnI"] {
    background-color: #303134;
    color: white;
    padding: 7px 17px;
    font-size: 13px;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
}


#search-button:hover, [name="btnI"]:hover, #Img-button:hover, #Adv-button:hover, #index-page:hover{
    background-color: #28282b;
}

