body {
    background-color: #303134;
    
}

.container {
    display: flex;
    justify-content: flex-end;
    height: 20px;
    align-items: center;
    padding: 20px 10px;
}

#Img-button, #Adv-button {
    margin-left: 10px;
    margin-right: 10px;
    padding: 4px 10px;
    font-size: 12px; 
    border: none;
}

.main-content {
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 70px;
    color: rgb(162, 162, 162);
    margin-bottom: 20px;
}

.search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bar {
    padding: 10px;
    width: 300px;
    border-radius:25px;
    font-size: 15px;
    margin-bottom: 10px;
}

.button-group {
    display: flex;
    justify-content: flex-end;
    height: 20px;
    align-items: center;
    padding: 20px 10px;

}

#search-button, [name="btnI"] {
    padding: 10px 20px;
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
}


#search-button:hover, [name="btnI"]:hover, button:hover {
    background-color: #28282b;
}

